* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 10px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 1500px;
  max-width: 320px;
  max-width: 1920px;
  font: 13px Arial;
}

